<div class="example-box" cdkDrag #container [style.width.px]="data.width" [style.height.px]="data.height">
  <div class="menu-bar">
    <button nz-button (click)="choose()">选择屏幕</button>
    <!-- <button nz-button (click)="chooseVideo()">选择视频</button> -->
  </div>
  <div class="resize resize__bottom--right"
       (resize)="onResize($event)"
       [targetElement]="container"
       [direction]="AngularResizeElementDirection.BOTTOM_RIGHT"
  ></div>

  <video #v style="width: 100%;height:100%" autoplay="false"></video>


  <div class="example-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
</div>
